.menuContainer {
  padding: 1rem;
  background: #a8c3c57d;
}

.navBar {
  display: flex;
  justify-content: space-around;
}
.menu a {
  text-decoration: none;
  color: black;
}

.searchBar input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.searchBar button {
  border: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
